- if user_signed_in?
  %span= current_user.name
  %nav
    %ul
      %li= link_to 'プロフィールを編集する', edit_user_registration_path
      %li= link_to '配送先情報', shipping_addresses_path
      %li= link_to '注文履歴', orders_path
