%p
  下記のURLからパスワードの再設定を行って下さい。
%p= link_to edit_password_url(@resource, @token), edit_password_url(@resource, reset_password_token: @token)

%p ※このメールアドレスは送信専用のため、返信は受け付けておりません。
%p ※このメールに心あたりがない場合は、第三者がメールアドレスの入力を誤った可能性があります。 そのため、このメールは破棄していただいて結構です。
